.main-container{
    width: 100%;
    height: auto;
    background-color: aquamarine;
   
    margin: 0 auto;
}
.sub_container{
    float: left;
    padding: 0px 60px;
    display: block;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 2px solid green;
    border: 2px solid black;
    height: 200px;
}